* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.biodata {
  text-align: center;
  background-color: #f8f8ff;
  padding: 40px 0 40px 0;
  /*color : white;*/
}
img {
  width: 180px;
  height: 130px;
  border-radius: 75%;
}
.Summary {
  padding: 40px 30px 40px 30px;
  text-align: center;
  
}
.table {
  border: none;
  margin-bottom: 10px;
}

.School {
  padding: 20px;
}

form {
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
}

.contact {
  margin-top: 20px;
}

button {
  border: none;
  background-color: #d3d3d3;
  padding: 10px 20px;
  margin: ;
}

.footer {
  text-align: center;
  background-color: #dbf6e9;
  padding: 10px 0;
}